<html>
    <head>

    </head>
    <body>

       <h1> Name.. :<%= data.userQuery%></h1>

       <% if (data.loggedIn){ %>

            <h2>You are logged in AS :<%=data.user%></h2>

            <%}%>
       <ul>
           <% data.search.forEach(result=>{ %>
                <li><%=result %></li>
                <% }); %>
       </ul> 
    </body>
</html>